@import "variables";

.chat-card {
  display: flex;
  padding: $card-padding;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: #333;
  }
  
  &-avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: $avatar-border-radius;
    background-color: $avatar-bg-color;
    aspect-ratio: 1/1;
    
    &-img {
      width: 100%;
      height: 100%;
      border-radius: $avatar-border-radius;
      object-fit: cover;
    }
  }
  
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: $content-margin-left;
    width: 100%;
    overflow-x: hidden;
    border-top: 1px solid $avatar-border-color;
    
    &-name {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
    }
    
    &-message {
      color: #aebac1;
      font-size: 1.4rem;
      font-weight: 400;
      overflow-x: hidden;
      line-height: 2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
