// Define variables
$main-background-color: #fff;
$box-shadow-color: #e3e8ee;
$blue-background-color: #5469d4;
$white-background-color: #ffffff;
$blue800-background-color: #212d63;
$gray100-background-color: #e3e8ee;
$cyan200-background-color: #7fd3ed;

$animation-duration: 2s;
$animation-type: ease-in-out;
$animation-infinite: infinite;
$animation-distance: 1000px;

.login-root {
  background: $main-background-color;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.loginbackground {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.flex-flex {
  display: flex;
}

.box-root {
  box-sizing: border-box;
}

.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.loginbackground-gridContainer {
  display: grid;
  grid-template-columns: [start] 1fr [left-gutter] repeat(16, 86.6px) [left-gutter] 1fr [end];
  grid-template-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
  justify-content: center;
  margin: 0 -2%;
  transform: rotate(-12deg) skew(-12deg);
}

.box-divider--light-all-2 {
  box-shadow: inset 0 0 0 2px $box-shadow-color;
}

.box-background--blue {
  background-color: $blue-background-color;
}

.box-background--white {
  background-color: $white-background-color;
}

.box-background--blue800 {
  background-color: $blue800-background-color;
}

.box-background--gray100 {
  background-color: $gray100-background-color;
}

.box-background--cyan200 {
  background-color: $cyan200-background-color;
}

.padding-top--64 {
  padding-top: 64px;
}

@keyframes animationLeftRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX($animation-distance);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes animationRightLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-$animation-distance);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Keyframes for shimmer animation */
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animationRightLeft,
.animationLeftRight,
.tans3s,
.tans4s {
  animation-duration: $animation-duration;
  animation-timing-function: $animation-type;
  animation-iteration-count: $animation-infinite;
}

.animationRightLeft {
  animation-name: animationRightLeft;
}

.animationLeftRight {
  animation-name: animationLeftRight;
}

.tans3s {
  animation-name: animationLeftRight;
}

.tans4s {
  animation-name: animationLeftRight;
}
