@import "variables";

.form-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  min-width: 40rem;
  min-height: 40rem;
  background-color: $form-container-bg-color;
  border-radius: 1rem;
  box-shadow: $form-container-box-shadow;
}

.form-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #005c4b;
  margin-bottom: 1rem;
}

.form-header {
  display: flex;
  width: 80%;
  gap: $form-header-gap;
  align-items: center;
  input {
    color: $form-input-color;
    width: 50%;
    border-radius: $form-input-border-radius;
    height: $form-input-height;
    padding: $form-input-padding;
    font-size: $form-input-font-size;
    font-weight: $form-input-font-weight;
  }
}

.form-body {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: $form-header-gap;
  input {
    color: $form-input-color;
    border-radius: $form-input-border-radius;
    height: $form-input-height;
    padding: $form-input-padding;
    font-size: $form-input-font-size;
    font-weight: $form-input-font-weight;
  }
  .custom-file-input-button {
      width: 100%;
      height: $form-input-height;
      border-radius: $form-input-border-radius;
      background-color: $blue800-background-color;
      outline: none;
      cursor: pointer;
      font-size: $form-button-font-size;
      font-weight: $form-button-font-weight;
      color: $form-button-color;
      transition: background-color 0.3s ease, transform 0.3s ease;
      &:hover {
        background-color: $blue-background-color;
        transform: scale(1.1);
      }
      &:disabled {
        background-color: #ccc;
        color: $form-button-color;
        cursor: not-allowed;
      }
  }

  // hide the default file input visually
  // and still make it accessible to screen readers
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.form-footer {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: $form-header-gap;
  button {
    width: 100%;
    height: $form-input-height;
    border-radius: $form-input-border-radius;
    background-color: $button-primary-bg-color;
    outline: none;
    cursor: pointer;
    font-size: $form-button-font-size;
    font-weight: $form-button-font-weight;
    color: $form-button-color;
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover {
      background-color: $button-primary-hover-bg-color;
      transform: scale(1.1);
    }
    &:disabled {
      background-color: #ccc;
      color: $form-button-color;
      cursor: not-allowed;
    }
  }
  span {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
  }
}
