$primary-bg-color: #111b21;
$secondary-bg-color: #202c33;
$button-primary-bg-color: #005c4b;
$button-primary-hover-bg-color: #007a63;
$avatar-bg-color: #ccc;
$text-color-white-fade: #fff;
$text-color-white-accent: #aebac1;

$card-padding: 1rem 1.6rem;
$avatar-size: 6rem;
$avatar-border-radius: 50%;
$avatar-border-color: rgba(134, 150, 160, 0.15);
$content-margin-left: 1rem;

$main-background-color: #fff;
$box-shadow-color: #e3e8ee;
$blue-background-color: #5469d4;
$white-background-color: #ffffff;
$blue800-background-color: #212d63;
$gray100-background-color: #e3e8ee;
$cyan200-background-color: #7fd3ed;

$animation-duration: 2s;
$animation-type: ease-in-out;
$animation-infinite: infinite;
$animation-distance: 1000px;

$form-container-bg-color: #F1F7FE;
$form-container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
$form-header-gap: 2rem;
$form-input-color: #383838;
$form-input-border-radius: 2rem;
$form-input-height: 4rem;
$form-input-padding: 0 1.6rem;
$form-input-font-size: 1.2rem;
$form-input-font-weight: 400;
$form-button-font-size: 1.2rem;
$form-button-font-weight: 700;
$form-button-color: #fff;

$login-container-font: 'Jost', sans-serif;
$login-container-monospace-font: 'Roboto Mono', monospace;

$avatar-size: 6rem;
$text-color: #fff;
